

.container{
    max-width: 70rem;

    display: grid;
    margin: 2rem auto;
    /* conteudo nao fica colado na lateral */
    padding: 0 1rem; 

    /*conteudo fica dividido x2 e uso do flex start para 
    o conteudo da esquerda nao ficar esticado*/
    grid-template-columns: 256px 1fr;
    gap: 2rem   ;
    align-items: flex-start;


}
.posts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media (max-width: 768px){

    html{
        font-size: 87.5%;
    }
    .container{
        grid-template-columns: 1fr;
    }
}